@font-face {
  font-family: "PetalaPro";
  src: url('#{$fontpath}/PetalaPro_Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "PetalaPro";
  src: url('#{$fontpath}/PetalaPro_Regular.otf');
  font-style: normal;
  font-weight: normal;
}
