@font-face {
  font-family: "FaberSansPro";
  src: url('#{$fontpath}/fabersanspro66.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "FaberSansPro";
  src: url('#{$fontpath}/fabersanspro65.otf');
  font-style: normal;
  font-weight: normal;
}
