$fontpath: "/Users/matthew.retzer/bookmaker_local/bookmakerfonts";
// $fontpath: "S#{':'}/resources/bookmaker_scripts/bookmakerfonts";
// $ornbasepath: "https#{':'}//raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images";
// $imagepath: "S#{':'}/resources/bookmaker_scripts/bookmaker_assets/pdfmaker/images";
$imagepath: "/Users/matthew.retzer/bookmaker_local/bookmaker_assets/pdfmaker/images";
$ornpath: "#{$imagepath}/generic";

@import "./font_arnopro.scss";
@import "./font_aroma.scss";
@import "./font_minionpro.scss";
@import "./font_myriadpro.scss";
@import "./font_sourcecodepro.scss";
@import "./font_timesnewroman.scss";
@import "./font_noto.scss";
@import "./font_berrangerhanditc.scss";
@import "./font_feltpencom.scss";
