@import "../generic/rules.scss";

/* BEGIN wednesday rules.scss */

section[data-type="titlepage"] *[class*="Logo-PlacementLogo"] {
  background-image: url("S:/resources/bookmaker_scripts/bookmaker_assets/pdfmaker/images/wednesday/logo.jpg");
  background-size: auto 0.35in;
  height: 0.40in;
  background-position: center center;
  margin-bottom: auto;
}

/* END wednesday rules.scss */
