// vars

@import "../IMPRINT/vars.scss";   // _imprint_ value will be replaced at runtime

$normal: 11.5pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$gridheight: 15.2pt;

$sizepoetry: 10.5pt;
$sizeextract: 10.5pt;;
$sizeepigraph: 10.5pt;;

$ctmargintop: 11pt;
$ctmarginbottom: 61pt;
$prmargintop: 16pt;

@import "./shared_novella_vars.scss";

/* TRIM VARS Placeholder
$pagewidthinches: PAGEWIDTHINCHES;
$pageheightinches: PAGEHEIGHTINCHES;
$pagewidth: PAGEWIDTHPTS;
$pageheight: PAGEHEIGHTPTS;
@import "./trim_vars_novella.scss";
TRIM VARS */

// rules

/* RULES: IMPRINT */

@import "../IMPRINT/rules.scss";    // _imprint_ value will be replaced at runtime

/* RULES: global novella-tight template */

@import "./shared_novella_rules.scss";

/* end RULES: global novella-tight template */
