// vars

@import "../IMPRINT/vars.scss";   // _imprint_ value will be replaced at runtime

$normal: 11.75pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$gridheight: 15.5pt;

@import "./shared_novel_vars.scss";

/* TRIM VARS Placeholder
$pagewidthinches: PAGEWIDTHINCHES;
$pageheightinches: PAGEHEIGHTINCHES;
$pagewidth: PAGEWIDTHPTS;
$pageheight: PAGEHEIGHTPTS;
@import "./trim_vars_novel.scss";
TRIM VARS */

// rules

/* RULES: IMPRINT */

@import "../IMPRINT/rules.scss";    // _imprint_ value will be replaced at runtime

/* RULES: global novel template */

@import "./shared_novel_rules.scss";

/* end RULES: global novel template */
