$margintop: 52pt;
$marginbottom: 64pt;
$padding: 18pt 0 16pt 0;
$outsidemargin: 45pt;
$insidemargin: 63pt;

$sizehwritingprint: 12.75pt;
$sizehwritingnormal: 11pt;

$chapterstart: right;

$htmargintop: ($gridheight * 1);
