// vars

@import "../IMPRINT/vars.scss";   // _imprint_ value will be replaced at runtime

$normal: 11.5pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$gridheight: 15pt;

@import "./shared_novel_vars.scss";


// rules

/* RULES: IMPRINT */

@import "../IMPRINT/rules.scss";    // _imprint_ value will be replaced at runtime

/* RULES: global novel-tight template */

@import "./shared_novel_rules.scss";

// reverse engineered this measurement:
//  -(margin-top + padding-top + .fullpage margin-top + mystery extra '9.7 pts')
img[src*="fullpage"] {
  margin-top: -1.379in; }

/* end RULES: global novel-tight template */
