// vars

@import "../IMPRINT/vars.scss";   // _imprint_ value will be replaced at runtime

$normal: 12.5pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$gridheight: 17pt;

$sizepoetry: 10.75pt;
$sizeextract: 10.75pt;
$sizeepigraph: 10.75pt;

$ctmargintop: ($gridheight * 0.6875);
$ctmarginbottom: ($gridheight * 3.8125);
$prmargintop: $gridheight; //preface/frontmatter top margin

// rules

/* RULES: IMPRINT - applying vars from globel template: novella-loose */

@import "../IMPRINT/rules.scss";    // _imprint_ value will be replaced at runtime
