// vars

@import "../example-novel_template_as_default/vars.scss";   // _imprint_ value will be replaced at runtime

$normal: 12pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$gridheight: 16pt;

$sizepoetry: 10.5pt; //sizeextract
$sizeextract: 10.5pt;
$sizeepigraph: 10.5pt;

$ctmargintop: ($gridheight * 0.6875);
$ctmarginbottom: ($gridheight * 3.8125);
$prmargintop: $gridheight;

// rules

/* RULES: IMPRINT - applying vars from globel template: novella */

@import "../example-novel_template_as_default/rules.scss";    // _imprint_ value will be replaced at runtime
