$margintop: $gridheight * 3;
$marginbottom: 40pt;
$padding: 5pt 0 0 0;
$outsidemargin: 40pt;
$insidemargin: 50pt;

$sizehwritingprint: 12.5pt;
$sizehwritingnormal: 10.75pt;

$chapterstart: always;

$htmargintop: ($gridheight * 4);

$ctmargintop: 0pt;
$ctmarginbottom: 5pt;

$prmargintop: ($gridheight * 2);

$spacebreakheight: $gridheight;
