/* BEGIN tordotcom novella template */

@import "./novella_vars.scss";

/* TRIM VARS Placeholder
$pagewidthinches: PAGEWIDTHINCHES;
$pageheightinches: PAGEHEIGHTINCHES;
$pagewidth: PAGEWIDTHPTS;
$pageheight: PAGEHEIGHTPTS;
@import "./novella_trim_vars.scss";
TRIM VARS */

@import "./novella_rules.scss";

/* END tordotcom novella template */
