/* TO COMPILE: $ sass novella.scss pdf.css */

/* GLOBAL VARIABLES */
@import "../_modules/vars_global.scss";

/* LOCAL VARIABLES */
$biggest: 18pt; //sizehalftitle sizepartnum
$bigger: 16pt; //sizefst sizesubtitle sizeau sizetochead sizefmhead sizechaptitle
$big: 14pt; //sizeacmh sizechapsubtitle sizeh1
$normal: 12.5pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$small: 10pt; //sizetitlepagetext sizecopyright sizeepigraph sizedateline
$smaller: 8.5pt; //sizecode sizecaption

$gridheight: 17pt;

$pagewidth: 5in;
$pageheight: 8in;
$bleedwidth: 0.125in;
$bleedheight: 0.125in;
$margintop: 52pt;
$marginbottom: 64pt;
$padding: 18pt 0 16pt 0;
$outsidemargin: 45pt;
$insidemargin: 63pt;

$textindent: 12pt;

$sizetitle: 25pt;
$sizesubtitle: $bigger; /*$big2 * 1.625*/
$sizeau: $bigger;
$sizetitlepagetext: $small;
$sizefst: $bigger;
$sizefsqs: 10.5pt; /* normal * o.875 */
$sizeacmh: $big;
$sizehalftitle: $biggest;
$sizetochead: $bigger;
$sizetocentry: 11pt;
$sizefmhead: $bigger;
$sizepartnum: $biggest;
$sizeparttitle: 22pt;
$sizechapnum: $normal;
$sizechaptitle: $bigger;
$sizechapsubtitle: $big;
$sizeh1: $big;
$sizeh2: $normal;
$sizeh3: $normal;
$sizenormal: $normal;
$sizenormalalt: $normal * .8125;
$sizecode: $normal * .71;
$sizepoetry: 10.75pt;
$sizeextract: 10.75pt;
$sizeextracthead: $normal;
$sizedateline: $small;
$sizeepigraph: 10.75pt;
$sizerunfoot: 9pt;
$sizerunhead: $smaller;
$sizecopyright: 9pt;
$sizefootnote: 9pt;
$sizecaption: $smaller;
$sizefigsrc: 7pt;
$sizesuperscript: 6pt;
$sizehwritingprint: 12.75pt;
$sizehwritingnormal: 11pt;

$hanging: -5pt;

$chapterstart: right;

$logoheight: 0.5in;
$logowidth: auto;

$htmargintop: ($gridheight * 1);

$ctmargintop: ($gridheight * 0.6875);
$ctmarginbottom: ($gridheight * 3.8125);
$comargintop: ($gridheight * 4);
$cemargintop: ($gridheight * 2);
$cemarginbottom: ($gridheight * 3);
$prmargintop: $gridheight; //preface/frontmatter top margin

$spacebreakheight: $gridheight;

$familyrunhead: "ArnoPro-Caption", serif;
$familybody: "ArnoPro", serif;
$familyfootnote: "ArnoPro-SmText", serif;

@import "../_modules/font_arnopro.scss";
@import "../_modules/font_aroma.scss";
@import "../_modules/font_minionpro.scss";
@import "../_modules/font_myriadpro.scss";
@import "../_modules/font_sourcecodepro.scss";
@import "../_modules/font_timesnewroman.scss";
@import "../_modules/font_noto.scss";
@import "../_modules/font_berrangerhanditc.scss";
@import "../_modules/font_feltpencom.scss";

@import "../_modules/base.scss";

/*@import "../_modules/gridlines.scss";
*/


section[data-type=preface],
section[data-type=foreword] {
  page: front; }

figure.fullpage {
  margin-top: 0.55in;
  margin-inside: -1in;
  margin-outside: -0.75in; }

img[src*="fullpage"] {
  margin-top: -1.65in; }

section[data-type="copyright-page"] p {
  line-height: $sizecopyright + 4;
}

section[data-type="dedication"] p:first-of-type,
section[data-type="dedication"] h1[class*="Nonprinting"] + p[class*="Body-Text"],
section[data-type="dedication"] h1[class*="ChapTitleNonprintingctnp"] + * {
  margin-top: $gridheight * 4; }

p[class*="Dateline"] {
  font-weight: normal;
  font-style: normal;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  text-align: center;
  text-align-last: center;
  em {
    font-style: italic;
  }

  span.itali {
    font-style: italic;
  }
}

.Speaker2Sp2,
.Dialogue2Dia2 {
  margin-left: $gridheight;
}
