@import "../generic/rules.scss";

/* BEGIN celadon rules.scss */

section[data-type="titlepage"] *[class*="Logo-PlacementLogo"] {
  background-image: url("S:/resources/bookmaker_scripts/bookmaker_assets/pdfmaker/images/celadon/logo.jpg");
  background-size: auto 0.75in;
  height: 0.80in;
  background-position: center center;
}

/* END celadon rules.scss */
