@import "./vars.scss";

/* TRIM VARS Placeholder
$pagewidthinches: PAGEWIDTHINCHES;
$pageheightinches: PAGEHEIGHTINCHES;
$pagewidth: PAGEWIDTHPTS;
$pageheight: PAGEHEIGHTPTS;
@import "../generic/trim_vars.scss";
TRIM VARS */

@import "./rules.scss";
